
{% load static %}

<footer class="mt-auto bd-footer py-4 py-md-5 mt-5 bg-liaima-gray">
  <div class="container py-4 py-md-5 px-4 px-md-3">
    <div class="row">
      <div class="col-6 text-end px-4">
        <img src="{% static 'images/footerlogo.png' %}" alt="">
      </div>
      <div class="col-6 position-relative px-4">
         <div class="position-absolute top-50 start-0 translate-middle-y">
         <address>299-4643957</address>
         <address><a href="mailto:liaimasoft@gmail.com" class="link-light">liaimasoft@gmail.com</a></address>
         <address>Viedma - Patagonia Argentina</address>
         <address><a href="liaima.ar" class="link-light">liaima.ar</a></address>
        </div>
      </div>
    </div>
  </div>
</footer>
