{% load static %}

<script src={% static "js/circular-progress-bar.js" %}></script>

<div class="row my-4 text-center p-5">

  <h3>Skills</h3>

  <div id="skillsDiv" class="row row-cols-3 row-cols-lg-5 g-4">
  {% for skill in skills %}
  <div class="col">
    <div class="card h-100 bg-liaima-gray card-skill">
          <div class="card-body">
            <circular-progress-bar
              class="circular-progress-bar"
              value="0" 
              data-value="{{ skill.value }}"
              title="{{ skill.name }}"
              stroke="15"
              color="rgb(246, 151, 18)"
              bg_color="rgb(0, 0, 0, 0.4)"
              stroke_color="#333333;"
              title_color="#2B879E"
              show_percentage="false"
              show_values="false"
              shadow_width="6"
              ></circular-progress-bar>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
</div>
<script>

  function loadProgress(){
      const progressBars = document.getElementsByClassName('circular-progress-bar')
      for(let item of progressBars){
        item.setValue(item.dataset.value)
      }
  }

  const observer = new IntersectionObserver(function(entries) {
    if(entries[0].isIntersecting){
      loadProgress()
    }
  }, { threshold: [0.35] });

  observer.observe(document.querySelector("#skillsDiv"));

</script>

