body {
  background: #216778;
}

.bg-liaima-gray {
  background: #333333;
}

.bg-black-tranparency {
  background: rgba(0, 0, 0, 0.5);
}

.card-project:hover {
  border: 1px solid #eee;
  cursor: pointer;
}
