body {
  background: #216778;
}

.bg-liaima-gray {
  background: #333333;
}

.bg-black-tranparency {
  background: rgba(0, 0, 0, 0.5);
}

.card-project {
  transition: transform .5s;
}

.card-project:hover {
  transform: scale(1.1);
}

.card-skill {
  background: rgba(0, 0, 0, 0);
  border: 0px;
}

.bg-liaima-yellow{
  background-color: rgb(246, 151, 18);
}
