{% extends 'layout.html' %} 

{% block content %}

{% load static %}

<header class="row bg-black-tranparency">
  <div class="col-lg-4 p-5">
    <img src="{% static 'images/profile.jpg' %}" class="figure-img img-fluid rounded-circle"/>
  </div>

  <div class="col-lg-8 my-auto p-4">
    <h1><strong>Manuel Lopez Jove</strong></h1>
    <h3>Web Developer</h3>
    <p>
      Hi! I'm Manuel Lopez Jove, a web developer with more than 2 years of work experience using PHP as principal language.
      I am a proactive and enterprising person. It motivates me a lot to improve my skills and always learn something new.
    </p>
  </div>
</header>

{% include 'partials/_projects.html' %}
{% include 'partials/_skills.html' %}

{% endblock %}

